# 1. Importer et découvrir un dataframe

Les deux premières choses à faire avec Pandas sont: 
- de l'installer: pip install pandas dans un terminal
- de l'importer: import pandas as pd dans une cellule


Vous ne devrez l'installer qu'une seule fois sur votre ordinateur, il faudra en revanche l'importer à chaque fois

In [3]:
import pandas as pd

## Créer un dataframe et l'afficher

Nous avons dit que l'objet que nous allons utiliser est principalement le dataframe qui est de dimension 2 (lignes et colonnes)

On peut le créer directement "à la main"

In [ ]:
df = pd.DataFrame({
    "nom": ["Bernard", "Aline", "Fred"], 
    "age": [38, 24, 46],
    "taille": [1.82,1.75,1.64],
    "derniere_mise_a_jour": [pd.Timestamp("20220102"),pd.Timestamp("20220308"),pd.Timestamp("20220811")],
    "logiciel": [["Excel","Pandas"],["Excel"],["Pandas"]],
    "Male":[True,False,True]
    })

On appelle souvent les tableaux "df" pour dataframe mais rien ne nous empêche de lui donner le nom que l'on veut
On a même vu qu'avec la Pep8, il vaut mieux donner des noms parlant à nos objets.

On a créé notre tableau mais rien ne s'est passé, pour l'afficher il faut simplement appeler le dataframe:

In [ ]:
df

In [ ]:
df.info()

On peut voir qu'un tableau peut contenir des données de plusieurs types, on peut obtenir ces types à l'aide de cette commande

In [ ]:
df.dtypes

Cependant la plupart du temps on travaille avec des bases de données qui existent déja et qu'il faut importer.
Le format le plus facile pour importer des données est le format CSV (comma separated values).
Cependant il existe plusieurs types de CSV, le standard qu'on vous conseille d'utiliser est celui où chaque colonne est séparée par une virgule, chaque ligne par un retour à la ligne. Les nombres à virgule sont donc dans ce standard écrits avec des points.

Quand ces règles sont respectées, l'import est aussi simple que cela:

## Importer un dataframe

In [ ]:
# On utilise la fonction read_csv et on indique le chemin relatif
df_air_bnb = pd.read_csv("Airbnb_Open_Data.csv")

Cependant si on regarde la [documentation](https://pandas.pydata.org/docs/user_guide/io.html), on voit que:
- On peut importer depuis une multitude de format: text, excel, json, xml, sql....
- On peut modifier des paramètres de la fonction: 
    - sep : le séparateur de colonne
    - delimiter : le séparateur de lignes
    - header : pour désigner la ligne qui contient les noms de colonnes

Une fois un fichier importé, il est important d'obtenir quelques informations essentielles:

Le nombre de lignes et de colonnes:

In [ ]:
df_air_bnb.shape

Le type de chaque colonne comme nous l'avons déja vu:

In [ ]:
df_air_bnb.dtypes

Etant donné la taille de la table, ce serait inutile de tout afficher, et aussi beaucoup trop lourd. C'est cependant souvent utile d'avoir un aperçu de la table. On va afficher donc le début ou la fin de la table comme cela:

In [ ]:
# On affiche les 10 premières lignes
df_air_bnb.head(10)

## Trier les dataframes

Tout comme sur excel, il est possible de trier ces données:

In [ ]:
df.sort_values(by="age")

Attention l'opération renvoie une copie mais la table originale n'est pas modifiée

In [ ]:
df

Pour la modifier il faut redéfinir notre table initiale pour indiquer quelle doit correspondre maintenant à la base triée

In [ ]:
# on ajoute ici un double filtre, d'abord sur le genre puis sur la taille
df = df.sort_values(by=["Male","taille"])
df

**`Exercice`**: 
- Affichez les 5 annonces air BNB dont le nombre de revues est le plus bas (ce n'est pas grave si tous les prix les moins chers sont identiques)
- En vous aidant de la [documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html), affichez également les 5 annonces avec le plus de revues
- Toujours en vous aidant de la documentation, affichez les 5 annonces avec le plus de revues en utilisant la fonction inverse de head.

# 2. Sélectionner des lignes et des colonnes, créer de nouvelles colonnes ou modifier des données

## Sélectionner des colonnes

Chaque colonne possède un nom, on peut la sélectionner de deux manière différentes:

In [ ]:
df.age

# ou

df["age"]

Si on veut accéder à plusieurs colonnes alors on doit utiliser un format différent:

In [ ]:
df[["nom","age"]]

L'ensemble des noms de colonnes se retrouve dans l'attribut columns:

In [ ]:
df.columns

On peut facilement créer une nouvelle colonne, supprimer ou renommer une colonne:

In [ ]:
df['nouvelle_colonne']= 10
df

In [ ]:
df = df.rename(columns={"nouvelle_colonne":"new_column"})
df

In [ ]:
df['addition'] = df.new_column + 3
df

## Sélection de lignes

On va utiliser deux méthodes pour accéder aux lignes et aux colonnes de notre data frame
- `iloc` qui permet de rechercher des lignes en fonction de leur indice
- `loc` qui permet de rechercher en fonction d'un filtre

### La méthode iloc

In [ ]:
# La méthode .iloc suit la syntaxe suivante :  
#df.iloc[indice_ligne, indice_colonne]

In [ ]:
# on cherche pour la première personne de la base (Aline) la valeur de la troisième colonne (taille)
df.iloc[0,2]

On peut également afficher seulement la première ligne

In [ ]:
df.iloc[0]

ou plusieurs lignes et plusieurs colonnes

In [ ]:
df.iloc[0:2, 3:5]

### La méthode loc

Cependant la majeure partie du temps on va filter les lignes en fonction de critères et non en fonction de leur indice.  
Pour cela on utilise la méthode loc

In [ ]:
# Cette méthode suit la syntaxe suivante.
#df.loc[ condition sur les lignes, colonne(s) ]

In [ ]:
df.loc[ df['taille']> 1.70, :]

On peut aussi utiliser une double condition, attention:
- il faut mettre des parenthèse
- on ne va pas utiliser "and" ou "or" mais & et |

In [ ]:
df.loc[ (df['taille']> 1.70) &(df['age']<30), :]

### Indice et Index

Pour le moment nous n'avons pas distinguer deux notions proches qui sont celle de `ìndice`et `index``
- indice: correspond à la ligne sur lequel se trouve la donnée
- l'index est un moyen unique d'identifier une ligne

Quand on on crée un dataframe, l'indice correspond à l'index. Cependant après certaines opérations comme sort, les deux ne sont plus confondus.

In [ ]:
# loc permet de rechercher en fonction de l'index
print(df.loc[[0,1],:])

Après une opération comme sort() on peut remettre à jour l'index

In [ ]:
df.reset_index()

On peut modifier l'index en utilisant une colonne mais il faut que celle-ci soit unique. On verra l'interet de cette opération quand on passera à a visualisation

In [ ]:
df.set_index('nom')

**`Exercice`**: 
- créez une table à partir de la table airbnb en ne concervant que les annonces disponibles plus de 100 jours par an ou 100 jours exactement.
- selectionner parmi cette table créée les 15 annonces ayant le plus de revues et pour ces annonces ne conserver que les colonnes "host id",	"host name"	et "neighbourhood"
- renommez ces colonnes "host_id",	"host_name"	et "neighbourhood"
- faite de host_id l'index puis triez la table en fonction de l'index.

## L'échantillonage avec sample

Enfin il arrive souvent qu'on veille créer un échantillon aléatoire de nos données pour travailler avec mon de donner.
On va utiliser la méthode sample qui a plusieurs paramètres interessants:
- n (int): si on veut préciser combien de données on veut obtenir
- frac (float) : si on veut préciser la fraction de données qu'on veut obtenir 
- replace (bool): est ce qu'on autorise qu'une occurrence puisse être tirée au sort plusieurs fois
- weight: est ce que certaines occurrences doivent avoir plus de poids (utile dans les jeux non équilibrés)

In [ ]:
df.sample(frac=1/3)

## Créer de nouvelles colonnes ou modifier la valeur d'une colonne

### Opération simple

Il est possible de modifier une colonne en faisant une simple opération

In [ ]:
df['taille_en_cm'] = df['taille'] * 100
df["taille_inch"]= df["taille_en_cm"]*0.393701
df

In [ ]:
df['gender'] = df['Male'].apply(lambda x : "masculin" if x else "feminin")
df

In [ ]:
df['Birth_date'] = df['age'].apply(lambda x : 2023 - x)
df

Avec la méthode loc, on peut meme ne modifier qu'une partie d'une colone

In [ ]:
df.loc[df["taille"]>1.8,"age"]=30

In [ ]:
df["date_de_naissance"] = 2022 - df["age"] 
df["ims"] = df["age"] * 2 + df["taille"]
df

Mais avec ce n'est pas possible de l'utiliser avec des fonctions

In [ ]:
df["name_length"] = len(df["nom"])

### la fonction apply

On va dans ce cas là utiliser une fonction apply à l'aide d'une fonction lambda

In [ ]:
df["name_length"] = df["nom"].apply(lambda x: len(x))
df

Ce qui va nous permettre des usages plus complexes

In [ ]:
df["observation_taille"] = df["taille"].apply(lambda x: "grand" if x> 1.8 else "petit")

In [ ]:
df[["nom","taille","observation_taille"]]

Attention si on veut créer un colonne à partir de deux colonnes, l'écriture diffère:

In [ ]:
df["new_col"] = df[["taille","nom"]].apply(lambda x: x[0]+len(x[1]), axis=1)

In [ ]:
df

### remplacer des données par d'autres avec map ou catcode

Map permet d'utiliser un dictionnaire pour remplacer des valeurs par n'importe quelles autres.

In [ ]:
df["Male"].map({True:1,False:0})

Quand on a beaucoup de valeurs et qu'on veut faire une conversion numérique, on peut utiliser la méthode catcode

In [ ]:
df["Male"].astype("category").cat.codes

# 3. Nettoyage de données

## Traitement des valeurs manquantes

On a ajouté Marie à notre base de données mais on ne connait pas son âge. C'est parfois génant dans les calculs et les traitements. Il faut donc nettoyer la base de données.

In [ ]:
from cmath import nan


df = pd.DataFrame({
    "nom": ["Bernard", "Aline", "Fred", "Marie"], 
    "age": [38, 24, 46,nan],
    "taille": [1.82,1.75,1.64,1.70],
    "derniere_mise_a_jour": [pd.Timestamp("20220102"),pd.Timestamp("20220308"),pd.Timestamp("20220811"),pd.Timestamp("20220812")],
    "logiciel": [["Excel","Pandas"],["Excel"],["Pandas"],["Excel"]],
    "Male":[True,False,True,False]
    })

In [ ]:
# On peut commencer par rechercher ces valeurs manquantes
df.info()

On peut suivre 4 étapes pour traiter les valeurs manquantes
- supprimer les colonnes à la qualité trop faible : celles qui ont entre 50% et 99% de données manquantes 
- supprimer les lignes des colonnes crtiiques: si une colonne est centrale pour notre analyse, alors les lignes qui ne possèdent pas cette information n'ont aucun interet, on peut donc les supprimer
- remplacer les données des autres colonnes: de nombreuses manipulations ne peuvent être réalisées si on a des na, il faut donc remplacer les na par quelques choses pour pouvoir les traiter, il existe plusieurs stratégies:
    - une valeur indentifiable: 0 , "pas de données"
    - une valeur statistiquement plausible
        - la moyenne
        - la valeur de la donnée précédente ou suivante

In [ ]:
#supprimer les colonnes à la qualité trop faible

df.drop(["liste","des","colonnes","a","supprimer"])

# supprimer les lignes des colonnes crtiiques
df = df.dropna(subset=['age'])

# remplacer les données des autres colonnes

    # par une valeur identifiable
df = df["age"].fillna(25)

    # par une valeur statistiquement plausible
df = df["age"].fillna(df["age"].mean())

df = df["age"].fillna(method="ffil")

In [ ]:
#On peut choisir de remplacer cette valeur
df.fillna(value=25)

On peut aussi remplacer les valeurs manquantes suivant des méthodes indiquées avec l'argument nommé `method` :

- `'ffill'` pour *forward fill*, c'est-à-dire en utilisant la dernière valeur présente :

In [ ]:
df.fillna(method='ffill')

Supposons maintenant que la base de données soit mal renseignée et qu'une information s'y retrouve en double

## Supprimer les doublons

In [ ]:
df.drop_duplicates

## Conversion des types

On peut utiliser la méthode `astype` pour changer le type d'une `Colonne` :

In [ ]:
df.age = df.age.astype('str')

df.age.dtype
df.age

In [ ]:
# Exercice: essayez de deviner le résultat de cette opération:
df.age.astype('str') + df.age.astype('str')

**`Exercice`**: 
- Utilisez à nouveau la table airbnb. Recherchez les valeurs nulles et proposez une méthode pour les traiter.
- Explorez le type des colonnes price et service fees, trouvez le moyen de les mettre au bon format.

## Consistance des données

La consistance des données est la dernière grande étape du nettoyage de données.
Elle consiste à uniformiser les valeurs catégorielles et à supprimer les valeurs abbérantes des variables numériques. Pour faire cela il faut maitriser les opérations d'agrégation du les données.
Nous allons donc les étudier.

# 4. Aggrégats

## Groupby

On peut calculer des valeurs pour décrire les colonnes d'une
`DataFrame` avec les méthodes suivantes:

-   'sum'
-   'count'
-   'median'
-   'quantile'
-   'min'
-   'max'
-   'mean'
-   'var'
-   'std'

On peut aussi appliquer n'importe quelle fonction python en la passant
en argument à la méthode `apply` (mais attention à la performance).

In [ ]:
df= pd.DataFrame([["Paris",2190327,105.4],["Pau", 77251,31.51],["Biarritz", 24457,11.66],["Bordeaux",252040, 49.36]], columns=['Nom', 'Population', 'Superficie'])
df.quantile([0.25,0.5,0.75])

In [ ]:
# Ou plus simplement:
df.describe()

On peut aussi effectuer ces calculs sur des aggrégats calculés en regroupant les lignes d'une `DataFrame` ayant la même valeur pour une colonne donnée :

In [ ]:
df= pd.DataFrame([["Paris","Île-de-France",2190327,105.4],["Pau", "Nouvelle-Aquitaine", 77251,31.51],
                  ["Biarritz", "Nouvelle-Aquitaine", 24457,11.66],["Bordeaux", "Nouvelle-Aquitaine",252040, 49.36],
                 ["Montreuil", "Île-de-France",108402, 8.92]], columns=['Nom', 'Région', 'Population', 'Superficie'])
gb=df.groupby(by='Région').median()
gb

In [ ]:
gb=df.groupby(by='Région').min()
gb

On peut aussi appeler la méthode `size` pour connaitre les effectifs
de chaque aggrégat :

In [ ]:
gb=df.groupby(by='Région').size()
gb

On prefère cependant à cette dernière méthode, la méthode value_counts()

In [ ]:
df.value_counts()

On peut également obtenir plusieurs indicateurs avec la méthode agg()

In [ ]:
df.groupby(by=['Région','Nom']).agg(["min","std"])

Bien sûr, cet aperçu ne fait qu'effleurer les possibilités de [groupby](https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html) !

`Exercice`:
A partir de la table airbnb, calculez: 
- l'année de construction moyenne en fonction de "group_neibourhood"
- le nombre de revue maximum en fonction de la validation de l'annonce et du type de chambre

## Les pivots tables

Il est possible avec de pandas de réaliser une pivot table comme avec excel, on utilise pour ça la méthode .pivot_table() qui prend 4 arguments:
- index : variable(s) placée(s) en ligne 
- columns : variable(s) placée en colonne(s) 
- values : variable sur laquelle on va appliquer la fonction d’agrégation
- aggfunc : fonction d’agrégation

Exemple:

In [ ]:
df = pd.DataFrame({
    "nom": ["Bernard", "Aline", "Fred", "Marie"], 
    "age": [38, 24, 46,32],
    "taille": [1.82,1.75,1.64,1.70],
    "derniere_mise_a_jour": [pd.Timestamp("20220102"),pd.Timestamp("20220308"),pd.Timestamp("20220811"),pd.Timestamp("20220812")],
    "logiciel": ["Excel","Pandas","Pandas","Excel"],
    "Male":[True,False,True,False]
    })

df.pivot_table(index="Male", columns = "logiciel", values="taille", aggfunc = "min")

# on pourrait certainement trouver des exemples plus interessants

`Exercice`:  
A partir de la table airbnb en faisant un tableau croisé dynamique, calculez :
- l'année de construction moyenne en fonction de "group_neibourhood" 
- le nombre de revue maximum en fonction de la validation de l'annonce et du type de chambre

# 5. Opérations d'ensemble

## Concaténations avec concat

Les exemples ci-après illustrent la concaténation (ou plutôt les façons de concaterner) de deux `DataFrame`:

In [4]:
df1 = pd.DataFrame({'A': [3, 5], 'B': [1, 2]})
df1

   A  B
0  3  1
1  5  2

In [5]:
df2 = pd.DataFrame({'A': [6, 7], 'B': [4, 9]})
df2

   A  B
0  6  4
1  7  9

In [6]:
# Si on concatène directement on va avoir un problème d'indice dans la table crée
pd.concat([df1, df2])

   A  B
0  3  1
1  5  2
0  6  4
1  7  9

In [7]:
# On va donc ignorer l'index
pd.concat([df1, df2], ignore_index = True)

   A  B
0  3  1
1  5  2
2  6  4
3  7  9

In [8]:
# On peut aussi concaténer dans le sens des colonnes
df1 = pd.DataFrame({'A': [3, 5], 'B': [1, 2]})
df2 = pd.DataFrame({'C': [6, 7], 'D': [4, 9]})
pd.concat([df1, df2], axis=1)

   A  B  C  D
0  3  1  6  4
1  5  2  7  9

## Jointure avec merge

Sur le même principe que les jointures de bases de données
relationnelles, on peut fusionner les données de deux `DataFrame` avec
la méthode `merge`. Par défaut, `merge` utilise le ou les noms de
colonne en commun, sinon on peut préciser la colonne de jointure avec
l'argument nommé `on` :

In [9]:
df_pop= pd.DataFrame([["Paris",2190327],["Pau", 77251],["Biarritz", 24457],["Bodeaux",252040]], columns=['Nom', 'Population'])
df_sup= pd.DataFrame([["Pau",31.51],["Biarritz",11.66],["Paris",105.4],["Bordeaux",49.36]], columns=['Nom', 'Superficie'])
df_pop.merge(df_sup)

        Nom  Population  Superficie
0     Paris     2190327      105.40
1       Pau       77251       31.51
2  Biarritz       24457       11.66

S'il n'y a pas toutes les valeurs de la colonne de jointure dans les deux `DataFrame`, on peut préciser les lignes à obtenir avec l'argument nommé `how` qui peut prendre les valeurs :

-   `'left'` : qui considère les lignes de la `DataFrame` de gauche,
    c'est-à-dire celle sur laquelle on appelle la méthode `merge`.

In [10]:
df_pop= pd.DataFrame([["Paris",2190327],["Pau", 77251],["Biarritz", 24457],["Bodeaux",252040]], columns=['Nom', 'Population'])
df_sup= pd.DataFrame([["Pau",31.51],["Biarritz",11.66],["Paris",105.4],["Marseille",240.6]], columns=['Nom', 'Superficie'])
df_pop.merge(df_sup, how='left')

        Nom  Population  Superficie
0     Paris     2190327      105.40
1       Pau       77251       31.51
2  Biarritz       24457       11.66
3   Bodeaux      252040         NaN

-   `'right'` : qui considère les lignes de la `DataFrame` de droite,
    c'est-à-dire celle passée en argument à la méthode `merge`.

In [11]:
df_pop= pd.DataFrame([["Paris",2190327],["Pau", 77251],["Biarritz", 24457],["Bodeaux",252040]], columns=['Nom', 'Population'])
df_sup= pd.DataFrame([["Pau",31.51],["Biarritz",11.66],["Paris",105.4],["Marseille",240.6]], columns=['Nom', 'Superficie'])
df_pop.merge(df_sup, how='right')

         Nom  Population  Superficie
0        Pau     77251.0       31.51
1   Biarritz     24457.0       11.66
2      Paris   2190327.0      105.40
3  Marseille         NaN      240.60

-   `'inner'` : qui considère l'intersection des lignes de la
    `DataFrame` de droite et celles de la `DataFrame` de gauche.

In [ ]:
df_pop= pd.DataFrame([["Paris",2190327],["Pau", 77251],["Biarritz", 24457],["Bodeaux",252040]], columns=['Nom', 'Population'])
df_sup= pd.DataFrame([["Pau",31.51],["Biarritz",11.66],["Paris",105.4],["Marseille",240.6]], columns=['Nom', 'Superficie'])
df_pop.merge(df_sup, how='inner')

**Exercice :** Quelle est la valeur par défaut de l'argument `how` ?

## Liens

<https://pandas.pydata.org/docs/user_guide/10min.html#min> : intro en 10 minutes

<https://pandas.pydata.org/docs/user_guide/cookbook.html#cookbook> : d'autres utilisations plus avancées

<https://www.kaggle.com/learn/pandas>

In [ ]:
df_air_bnb["price"] = df_air_bnb.price.str.slice(start=1).str.replace(',', '', regex=False).astype("float")
df_air_bnb["service fee"] = df_air_bnb["service fee"].str.slice(start=1).str.replace(',', '', regex=False).astype("float")